<div class="admin-restaurants container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>🛠️ Gestión de Restaurantes</h2>
    <a routerLink="/admin/restaurants/new" class="btn btn-danger">+ Nuevo</a>
  </div>

  <div class="row g-4">
    @for (r of restaurants; track r._id) {
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <img [src]="r.imagen" class="card-img-top" />
          <div class="card-body">
            <h5>{{ r.nombre }}</h5>
            <p class="text-muted small">📍 {{ r.ubicacion }} • 🍽️ {{ r.tipoComida }}</p>
          </div>
          <div class="card-footer d-flex gap-2">
            <a [routerLink]="['/admin/restaurants/edit', r._id]" class="btn btn-sm btn-outline-primary w-50">✏️</a>
            <button (click)="delete(r._id)" class="btn btn-sm btn-outline-danger w-50">🗑️</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
